### IntelliJ IDEA ###
.idea/modules
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/kotlinc.xml
.idea/libraries/
.idea/artifacts
.idea/*.iml
.idea/misc.xml

### Kotlin ###
/.kotlin

### Gradle ###
.gradle
build/
local.properties
hs_err_*.log

### Next.js ###
/node_modules
/.next
/out
.vercel
*.tsbuildinfo
next-env.d.ts
